---
import Layout from '../layouts/Layout.astro';
import Topvar from '../components/index/topvar.astro';
import Writetweet from '../components/index/writetweet.astro';
import Tweets from '../components/index/tweets.astro';

interface Props {
	class: string;
}
  
const { class: className } = Astro.props;
  
---

<Layout title="Welcome to Astro.">
	<main class:list={["border-gray-600 border-x-[1px] h-dvh w-[750px]", className]}>
		<Topvar />
		<Writetweet />
		<Tweets />
	</main>
</Layout>

<style>
	main {
		color: white;
	}
</style>
