---
const pages = [
    { title: 'For You', href: '/', state: 'active' },
    { title: 'Following', href: '/following', state: 'inactive' },
    { title: 'JavaScript', href: '/js', state: 'inactive' },
]

const Around = pages.length <= 3;
---

<aside>
  <nav>
    <ul class:list={["flex py-2 border-gray-600 border-b-[1px] overflow-y-auto", Around ? "justify-around" : "justify-start"]}>
      {
        pages.map(page => (
            <li>
                <a href={page.href}>
                    <p class:list={["font-semibold text-lg text-center", Around ? "" : "min-w-44"]}>{page.title}</p>
                </a>
            </li>
        ))
      }
    </ul>
</nav>