---
const options = [
    {name: "image", icon: "fa-regular fa-image"},
    {name: "gift", icon: "fa-solid fa-gift"},
    {name: "list", icon: "fa-solid fa-list"},
    {name: "icons", icon: "fa-solid fa-icons"},
    {name: "calendar", icon: "fa-regular fa-calendar"},
    {name: "location", icon: "fa-solid fa-location-dot"},
]
---

<aside>
    <div class="grid grid-cols-8 border-b-[1px] border-gray-600">
        <a class="p-4" href="">
            <img class="rounded-full" src="pfp.jpg" alt="">
        </a>
        <div class="col-span-7 mr-4">
            <div id="border-1" class="border-b-[1px] border-gray-600">
                <button class="flex my-2 gap-2 px-4 pb-1 rounded-2xl border-[1px] border-gray-400">
                    <p>Everyone</p>
                    <i class="fa-solid fa-caret-down content-center pt-[2px]"></i>
                </button>
                <textarea class="resize-none w-full bg-transparent text-xl py-2 outline-none overflow-hidden" name="" id="" placeholder="What is happening?!" maxlength="200"></textarea>
                <button class="flex gap-2 rounded-2xl py-1 px-3 my-2 font-semibold hover:bg-blue-500 hover:bg-opacity-15 transition">
                    <i class="fa-solid fa-earth-americas content-center"></i>
                    <p class="">Everyone can reply</p>
                </button>
            </div>
            <div class="flex justify-between py-2">
                <div class="flex gap-6">
                    <!-- <button><i class="fa-regular fa-image"></i></button> -->
                    {
                        options.map(option => (
                            <button><i class:list={[`${option.icon}`, "hover:text-blue-500 hover:contrast-150 text-xl transition"]}></i></button>
                        ))
                    }
                </div>
                <button class:list={["rounded-2xl bg-blue-400 px-4 py-1 hover:scale-105 active:scale-100 transition"]}>
                    <p class="font-bold">Post</p>
                </button>
            </div>
        </div>
    </div>
</aside>

<script>
    
</script>